/*style sheet for basic resume exercise*/

/*setting standard font styles*/
BODY {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

/*my name at top*/
#name{
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33485e;
	width: 60%;
	margin: 0 auto;
}

/*my industry*/
/*...I know I could've used just b looking back,
but I didn't remember if b was used elsewhere
and wanted to be discriminatory that it was just
for this instance of b*/
b{
	text-transform: uppercase;
	font-size: 1.5em;
	color: #33485e;
}

/*section headers, like EDUCATION*/
.sectionheader{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: #fff;
	margin: 20px 0px 10px 0px;
	width: 70%;
	min-width: 300px;
}

/*job titles at each past workplace*/
.jobtitle{
	font-weight: 600;
	font-size: 1.5em;
}

/*job workplaces*/
.organization{
	font-size:1.25em;
	font-weight: 400;
}

/*dates for each past workplace*/
.date{
	margin: 2px 0px 0px 0px;
	font-style: italic;
	font-weight: 400;
	/*weight, size already set by BODY*/
}

.description{
	margin: 10px 0px;
}

/*size for list items already set by BODY*/