/*style sheet for basic resume exercise*/

/*setting standard font styles*/
BODY {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

/*this is for the whole thing*/
#container{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding-bottom: 50px;
}

/*my name at top*/
#name{
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33485e;
	width: 60%;
	margin: 0px auto;
}

.menu{
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

/*call-out*/
.menu li{
	display: inline;
}

#degrees{
	margin-top: 5px;
}

#do{
	margin-top: 5px;
}

/*my industry*/
#title{
	text-transform: uppercase;
	font-weight: 600px;
	text-align: center;
	font-size: 1.5em;
	color: #33485e;
	margin-top: 20px;
}

/*section headers, like EDUCATION*/
.sectionheader{
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: #fff;
	margin: 20px 0px 10px 0px;
	width: 70%;
	min-width: 300px;
}

/*job titles at each past workplace*/
.jobtitle{
	font-weight: 600;
	font-size: 1.5em;
}

/*job workplaces*/
.organization{
	font-size:1.25em;
	font-weight: 400;
}

/*dates for each past workplace*/
.date{
	margin-top: 2px;
	font-style: italic;
	font-weight: 400;
	/*weight, size already set by BODY*/
}

/*for most paragraphs*/
.description{
	margin: 10px 0px;
}

/*for specifically the mission statement*/
.top{
	width: 60%;
	min-width: 300px;
	margin: 0px auto;
	margin-bottom: 30px;
}
/*size for list items already set by BODY*/